h1 {
    color: purple; 
}
.parent {
    background-color: grey;
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.child {
    background-color: black;
    height: 50px;
    width: 60px;
    border: 1px solid turquoise; 
    color: white;
}
